**Задание 1**
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:

In [13]:
from datetime import datetime

In [14]:
# The Moscow Times - Wednesday, October 2, 2002
datetime.strptime('Wednesday, October 2, 2002', '%A, %B %d, %Y')

datetime.datetime(2002, 10, 2, 0, 0)

In [15]:
# The Guardian - Friday, 11.10.13
datetime.strptime('Friday, 11.10.13', '%A, %d.%m.%y')

datetime.datetime(2013, 10, 11, 0, 0)

In [16]:
# Daily News - Thursday, 18 August 1977
datetime.strptime('Thursday, 18 August 1977', '%A, %d %B %Y')

datetime.datetime(1977, 8, 18, 0, 0)

**Задание 2**
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения.
Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [49]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

def date_check(stream):
    checked_stream = {}
    for date in stream:
        try:
            datetime.strptime(date, '%Y-%m-%d')
            checked_stream[date] = True
        
        except:
            checked_stream[date] = False
            
    return checked_stream

In [50]:
date_check(stream)

{'2018-04-02': True, '2018-02-29': False, '2018-19-02': False}

**Задание 3**
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [52]:
from datetime import timedelta

In [59]:
def date_range(start_date, end_date):
    date_list = []
    try:
        start_date_datetime = datetime.strptime(start_date, '%Y-%m-%d')
        end_date_datetime = datetime.strptime(end_date, '%Y-%m-%d')
    except:
        return date_list
    
    while start_date_datetime < end_date_datetime:
        date_list.append(start_date_datetime.strftime('%Y-%m-%d'))
        start_date_datetime += timedelta(days=1)
    
    return date_list

In [63]:
date_range('2020-10-12', '2020-12-10')

['2020-10-12',
 '2020-10-13',
 '2020-10-14',
 '2020-10-15',
 '2020-10-16',
 '2020-10-17',
 '2020-10-18',
 '2020-10-19',
 '2020-10-20',
 '2020-10-21',
 '2020-10-22',
 '2020-10-23',
 '2020-10-24',
 '2020-10-25',
 '2020-10-26',
 '2020-10-27',
 '2020-10-28',
 '2020-10-29',
 '2020-10-30',
 '2020-10-31',
 '2020-11-01',
 '2020-11-02',
 '2020-11-03',
 '2020-11-04',
 '2020-11-05',
 '2020-11-06',
 '2020-11-07',
 '2020-11-08',
 '2020-11-09',
 '2020-11-10',
 '2020-11-11',
 '2020-11-12',
 '2020-11-13',
 '2020-11-14',
 '2020-11-15',
 '2020-11-16',
 '2020-11-17',
 '2020-11-18',
 '2020-11-19',
 '2020-11-20',
 '2020-11-21',
 '2020-11-22',
 '2020-11-23',
 '2020-11-24',
 '2020-11-25',
 '2020-11-26',
 '2020-11-27',
 '2020-11-28',
 '2020-11-29',
 '2020-11-30',
 '2020-12-01',
 '2020-12-02',
 '2020-12-03',
 '2020-12-04',
 '2020-12-05',
 '2020-12-06',
 '2020-12-07',
 '2020-12-08',
 '2020-12-09']

**Задание 4 (бонусное)**
Ваш коллега прислал код функции:

При однократном вызове этой функции все работает корректно:
delete_and_return_last_user(1)
'A101'

Однако, при повторном вызове получается ошибка IndexError: list index out of range.

Задание:
1. Что значит ошибка list index out of range?
2. Почему при первом запуске функция работает корректно, а при втором - нет?

In [76]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """
    Удаляет из списка default_list последнего пользователя 
    и возвращает ID нового последнего пользователя.
    """
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    
    return default_list[DEFAULT_USER_COUNT-2]

In [77]:
delete_and_return_last_user(1)

'A101'

1. Ошибка list index out of range говорит о том, что запрошенный индекс (DEFAULT_USER_COUNT-2) из листа default_list находится за пределами доступного диапазона индексов. 

2. Объект лист относится к изменяемым объектам в Пайтоне, поэтому после первого запуска функции, диапазон доступных индексов уменьшается до [0 .. 1]. После второго запуска функции диапазон уменьшается еще на одно значение и лист фактически состоит из одного значения с индексом 0. В свою очередь, при вычислении позиции в листе формула DEFAULT_USER_COUNT-2 возвращает значение 1, которое находится за пределами доступного диапазона и вызывает ошибку list index out of range.

In [118]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """
    Удаляет из списка default_list последнего пользователя 
    и возвращает ID нового последнего пользователя.
    """
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    
    try:
        return default_list[-1]
    except:
        print ("список пуст")

In [121]:
delete_and_return_last_user(1)

список пуст